<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sdkVersion</key>
	<string>0.0.1</string>
	<key>claims</key>
	<dict>
		<key>aud</key>
		<string>1</string>
		<key>sub</key>
		<string>attribution-sdk</string>
		<key>iss</key>
		<string>attribution-sdk</string>
	</dict>
	<key>network</key>
	<dict>
		<key>baseURL</key>
		<string>https://attribution-sdk-endpoint-ff5ckcoswq-uc.a.run.app/</string>
		<key>apiVersion</key>
		<string>v2</string>
		<key>apiPath</key>
		<string></string>
	</dict>
</dict>
</plist>
