<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182479245305-sivandln0u7khq3uaqk28a40573cnhee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182479245305-sivandln0u7khq3uaqk28a40573cnhee</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ73dFxHjk1uaHu8O2S3axh60NuHOASwE</string>
	<key>GCM_SENDER_ID</key>
	<string>182479245305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rakutenadvertising.RADAdvertiserDemo</string>
	<key>PROJECT_ID</key>
	<string>attribution-sdk</string>
	<key>STORAGE_BUCKET</key>
	<string>attribution-sdk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182479245305:ios:3d74775c1d1eb2c8473728</string>
	<key>DATABASE_URL</key>
	<string>https://attribution-sdk.firebaseio.com</string>
</dict>
</plist>